venv/
.venv/
.env
.env.*
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
*.swp
*.pyc
.DS_Store
.vscode/
.idea/
.ipynb_checkpoints
.coverage
.tox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
.streamlit/config.toml
.streamlit/secrets.toml