.headerContainer {
  background-color: #164C45;
  color: white;
  padding: 0px 20px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  margin: 0;
  padding: 5px 20px;
}

.logoGroup {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 0px;
}
